<div>
<most-data model="students" url="students/me" #student expand="person,department,studyProgram"></most-data>
    <div class="card" *ngIf="student.value">
      <div class="card-img-top bg-primary">
        <i class="fas fa-users-cog p-4 text-white"></i>
        </div>
      <div class="card-body">
        <div class="text-success text-center mb-4">
          <div class="display-3 text-primary font-weight-bold">{{student.value.inscriptionYear.id}}</div>
          <small class="text-muted">inscription year</small>
        </div>
        <h5 class="card-title">{{student.value.person.givenName}} {{student.value.person.familyName}}</h5>
        <p class="card-text">{{student.value.department.name}}<br/>{{student.value.studyProgram.name}}</p>
        <a href="#" class="btn btn-primary">Details</a>
      </div>
    </div>  
</div>
