    <div class="welcome-container d-flex">
      <div class="w-50 bg-welcome d-none d-lg-block">
      </div>
      <div class="p-4 flex-fill justify-content-center align-self-center">
          <h4 class="text-primary font-weight-normal">Universis Project Examples Starter</h4>
          <p>Redesigning our universities universe</p>
          <p class="small">(Use one of the demo accounts defined in <a target="_blank" href="https://gitlab.com/universis/universis-students#demo">Universis Students App demo instructions</a>).</p>
          <a class="btn btn-primary" [routerLink]="['/auth/login']">Login</a>  
      </div>
    </div>
    