.bg-welcome {
  background-color: #722523;
  background-image: url('../../../../../node_modules/triangles/examples/big/orange2.png');
}
.welcome-container {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}