<div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-profile></app-profile>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-courses></app-courses>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-average></app-average>
    </div>
  </div>
</div>
