<div class="card" *ngIf="courses">
  <div class="card-img-top bg-danger">
    <i class="fas fa-swatchbook p-4 text-white"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title">Latest results</h5>
    <div class="d-flex bd-highlight" *ngFor="let studentCourse of courses">
      <div class="p-2 flex-grow-1">{{studentCourse.course.name}}</div>
      <div class="p-2 font-weight-bold">{{studentCourse.formattedGrade}}</div>
    </div>
    <div class="mt-2">
      <a href="#" class="btn btn-primary">Details</a>
    </div>
  </div>
</div>