<div>
    <most-data model="students" url="students/me/courses" #average filter="isPassed eq true" select="avg(grade) as averageGrade" [top]="1"></most-data>
    <most-data model="students" url="students/me/courses" #statistics filter="grade ne null" select="count(id) as courses, isPassed" group="isPassed" ></most-data>
    <div class="card" *ngIf="average.value">
        <div class="card-img-top bg-success">
            <i class="fas fa-user-graduate p-4 text-white">
        </i>
        </div>
        <div class="card-body">
            <div class="text-success text-center mb-2">
                <div class="display-3 text-success font-weight-bold">{{average.value.averageGrade | percent }}</div>
                <small class="text-muted">average grade so far</small>
            </div>
            <div *ngIf="statistics" class="mb-2">
                <div class="d-flex bd-highlight" *ngFor="let item of statistics.value">
                  <div class="p-2 flex-grow-1 text-success" *ngIf="item.isPassed">Passed</div>
                  <div class="p-2 flex-grow-1 text-danger" *ngIf="!item.isPassed">Failed</div>
                  <div class="p-2 font-weight-bold">{{item.courses}}</div>
                </div>    
            </div>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>
